.pageHolder{
    margin-top: 10px;
}
.contentHolder{
    margin-top: 10px;
}
.profile img.head{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
h2{
    text-align: center;
}
.job p{
  text-align: center;
}
.right{
  text-align: right;
}
