<StackLayout>
    <Label text="点击按钮" class="title"></Label>
    <Button text="TAP" (tap)="onTap()"></Button>
    <Label [text]="message" class="message" textWrap="true"></Label>
    <Image src="~/images/logo.png" stretch="none" horizontalAlignment="center"></Image>
    <TextField hint="Email Address" keyboardType="email" autocorrect="false"
    autocapitalizationType="node" [(ngModel)]="user.email"></TextField>
    <TextField hint="Password" secure="true" [(ngModel)]="user.password"></TextField>
    <Button [text]="isLoggingIn ? '登录' : '注册'" class="submit-button" (tap)="submit(event)"></Button>
    <Button [text]="isLoggingIn ? '注册' : '返回登录'" (tap)="toggleDisplay()"></Button>
</StackLayout>
